@page
@model LoginModel

@{
    ViewData["Title"] = "Вхід";
    Layout = null;
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/components.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/login.min.css" type="text/css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="login-container">
        <div class="login">
            <div class="wrapper">
                <div class="close">
                    <p class="login-from">Вхід через</p>

                </div>
                <div class="icons">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <button type="submit" name="provider" value="@Model.ExternalLogins[0].Name">
                            <img src="~/images/Login_Register/google icon.png" alt="google" />
                            <span>Google</span>
                        </button>
                    </form>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <button type="submit" name="provider" value="@Model.ExternalLogins[2].Name">
                            <img src="~/images/Login_Register/twitter icon.png" alt="twitter" />
                            <span>Twitter</span>
                        </button>
                    </form>
                </div>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="facebook">
                    <button type="submit" name="provider" value="@Model.ExternalLogins[1].Name">
                        <img src="~/images/Login_Register/facebook icon.png" alt="facebook" />
                        <span>Facebook</span>
                    </button>
                </form>
                <p class="login-from">або E-mail</p>
                <form id="account" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="E-mail*" class="input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="password">
                        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Пароль"
                               id="password"
                               class="input" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <img src="~/images/Login_Register/eye icon default.png"
                             alt="скрити"
                             class="eye-icon" />
                    </div>
                    <div class="enter">
                        <div class="remember">
                            <label asp-for="Input.RememberMe" class="form-label mb-0 ms-1">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <input type="submit" value="ВХІД" class="btn" />
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="forget">Забули пароль?</a>
                    <p class="not-account">
                        Немає аккаунту? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зареєструйтесь</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/start.js"></script>
    

</body>
</html>
